@model List<string>

<h2>отсартированыый список овощей</h2>
<table>
    <thead>
        <tr>
            <th>наименование</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vegetable in Model)
        {
            <tr>
                <td>@vegetable</td>
            </tr>
        }
    </tbody>
</table>